* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #00becf;

}

.clock {
    background:#D7F9FF ;
    color:rgba(0, 138, 252, 0.744);
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px  100px  ;
    font-size: 50px;
}
